.about-title {
  color: #0b6085;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: 600;
  span {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    color: #0b854e;
    font-size: 2rem;
  }
}
