<div class="feature-projects">
  <!-- feature projects header -->
  <div class="feature-projects__header">
    <div class="content">
      <h2 class="text-4xl font-semibold mb-4">
        {{ "FEATURE_PROJECTS.TITLE" | transloco }}
      </h2>
      <p class="text-gray-600 text-lg">
        {{ "FEATURE_PROJECTS.SUB_TITLE" | transloco }}
      </p>
    </div>
    <div class="explore-button">
      <a
        class="flex items-center text-md font-semibold md:px-4 py-2 cursor-pointer hover:underline"
      >
        <span> {{ "FEATURE_PROJECTS.EXPLORE_PROJECTS" | transloco }}</span>
        <img class="ms-2 w-5" src="assets/images/arrow.svg" alt=""
      /></a>
    </div>
  </div>

  <!-- feature projects content -->
  <div class="feature-projects__content mt-8">
    @for (card of featuredProjects; track card.title) {
    <app-projects-card [card]="card"></app-projects-card>
    }
  </div>
</div>
