.feature-projects {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    @media (max-width: 767px) {
      display: block;
    }
    @media (max-width: 1300px) {
      margin-top: 4rem;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 3rem;
  }
}

.explore-button {
  @media (max-width: 767px) {
    margin-top: 1rem;
  }
  img {
    &:lang(ar) {
      transform: rotate(-115deg);
    }
  }
}
