$primary_color: #0b6085;
$gray_color: #737373;
$gray_color2: #f9f9f9;
$gray_color3: #6b6b6b;
$dark-text-color: #181a20;
$dark_text_color2: #3d4058;
$dark_text_color3: #515470;
$dark_text_color4: #5e6282;
$blue_color: #004e92;
$blue_color2: #3a86ff;
$dark_blue_color: #14183e;
$white_color: #fff;
$border_color: #e4e6e8;
$light_border_color: #f1f1f1bd;
$semi_white_color: #f1f1f1f5;
$orange_color: #eb664e;
$gold_color: #ffcc00;
$gold_color2: #fff2bfc9;
