<div class="contact-us mt-16 mb-16">
  <div class="contact-us__get-in-touch mt-16">
    <div class="contact-us__get-in-touch__form">
      <div class="contact-us__get-in-touch__form__header">
        <h2 class="font-semibold">
          <!-- {{ "CONTACT_US.GET_IN" | transloco }} -->
          <span>قم بتسجيل بياناتك الان للحصول علي الدعم المالي</span>
        </h2>
        <!-- <p>قم بتسجيل بياناتك الان للحصول علي الدعم المالي</p> -->
      </div>

      <form class="mt-6" [formGroup]="contactForm">
        <div class="mb-6 contact-us__get-in-touch__form__form-group">
          <ng-select
            [items]="cities"
            formControlName="city"
            bindLabel="name"
            placeholder="المحافظة"
            class="rounded-md shadow-sm"
          >
          </ng-select>
        </div>

        <div class="mb-6 contact-us__get-in-touch__form__form-group">
          <input
            type="text"
            formControlName="name"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="الاسم"
            required
          />
        </div>

        <div class="mb-6 contact-us__get-in-touch__form__form-group">
          <input
            type="text"
            formControlName="address"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="العنوان بالتفصيل"
            required
          />
        </div>

        <div class="mb-6 contact-us__get-in-touch__form__form-group">
          <input
            type="text"
            formControlName="age"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="السن"
            required
          />
        </div>

        <div class="mb-6 contact-us__get-in-touch__form__form-group">
          <input
            type="text"
            formControlName="phone"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="رقم التليفون"
            required
          />
        </div>

        <div class="mb-6 contact-us__get-in-touch__form__form-group">
          <input
            type="text"
            formControlName="nid"
            class="border border-gray-300 text-gray-900 text-sm rounded-lg block w-full p-2.5"
            placeholder="الرقم القومي ان وجد"
            required
          />
        </div>

        <button
          type="button"
          (click)="submitForm()"
          class="contact-us__get-in-touch__form__submit-btn d-block w-full text-white font-semibold rounded-full text-md px-10 py-3 text-center"
        >
          <span class="see-all-txt"> ارسال </span>
        </button>
      </form>
    </div>
  </div>
</div>
