@if(!hideContent){
<div class="find-dream text-center mt-16 lg:mt-36 mb-16">
  <h2 class="find-dream__title">{{ "FOOTER.TITLE" | transloco }}</h2>
  <button
    type="button"
    routerLink="contact-us"
    class="find-dream__contact-us-btn text-white font-semibold rounded-full text-lg px-12 py-3 text-center me-2 mb-2 flex items-center"
  >
    <span class="see-all-txt"> {{ "FOOTER.CONTACT_US" | transloco }} </span>
  </button>
  <div class="find-dream__img-container">
    <img src="assets/images/footer4.png" alt="" />
  </div>
</div>
}
