@use "variables" as *;

.mission-vision {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  position: relative;
  @media (max-width: 767px) {
    display: block;
  }
  & > div {
    padding: 2.5rem 2rem;
    overflow: hidden;
    position: relative;
    @media (max-width: 767px) {
      padding: 2rem;
    }
    .title {
      font-size: 32px;
      font-weight: 600;
    }
    .description {
      font-size: 18px;
      margin-top: 1rem;
    }
  }
  &__mission {
    grid-column: 1;
    background: linear-gradient(135deg, #003459, #006494);
    clip-path: polygon(0 0, 100% 0%, 89% 100%, 0% 100%);
    border-start-start-radius: 11px;
    border-end-start-radius: 11px;
    width: 104%;
    &:lang(ar) {
      clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
    }
    .title {
      color: $white_color;
    }
    .description {
      color: #f1f1f1b0;
      padding-inline-end: 1.99999999rem;
    }
    @media (max-width: 767px) {
      width: 100% !important;
      clip-path: none;
      border-radius: 11px;
    }
  }
  &__vision {
    grid-column: 2;
    background: linear-gradient(114deg, #99b9cf, #fef9c3);
    clip-path: polygon(11% 0, 100% 0%, 100% 100%, 0% 100%);
    width: 104%;
    inset-inline-start: -4%;
    padding-inline-start: 6rem !important;
    border-start-end-radius: 11px;
    border-end-end-radius: 11px;
    &:lang(ar) {
      clip-path: polygon(0 0, 100% 0%, 89% 100%, 0% 100%);
    }
    .title {
      color: $dark-text-color;
    }
    .description {
      color: $dark-text-color;
    }
    @media (max-width: 767px) {
      width: 100% !important;
      clip-path: none;
      border-radius: 11px;
      inset-inline-start: 0;
      margin-top: 2rem;
      padding-inline-start: 2rem !important;
    }
  }
}
