@use "variables" as *;
.explore-properties {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    @media (max-width: 991px) {
      display: block;
    }
    &__info {
      @media (max-width: 991px) {
        margin-bottom: 2rem;
      }
      &__title {
        font-size: 40px;
        color: $dark-text-color;
      }
      &__description {
        color: $gray_color;
        font-size: 18px;
      }
    }
    &__filter {
      display: flex;
      gap: 1rem;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
  }
  &__see-all {
    button {
      margin: 3rem auto 0;
      background-color: $primary_color;
      border: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s ease;
      color: $semi_white_color;
      font-weight: 400;
      &:hover {
        background-color: darken($primary_color, 10%);
      }
      .see-all-txt {
        font-size: 16px;
      }
      .arrow-icon {
        &:lang(ar) {
          transform: rotate(-180deg) !important;
        }
      }
    }
  }
}
