<div class="footer text-center">
  <!-- Light Style -->

  <div class="footer__light">
    <div class="footer__light__info hidden md:block">
      <!-- <p>{{ "FOOTER.COPYRIGHT" | transloco }}</p> -->
    </div>
    <div class="footer__light__right flex items-center justify-between">
      <div class="footer__light__right__logo">
        <img
          src="https://www.moss.gov.eg/Style%20Library/MOSS/images/original.png"
          alt="logo"
        />
      </div>
      <div class="footer__light__right__social-media">
        <a href="#"><span class="icon-facebook"></span></a>
        <a href="#"><span class="icon-twitter"></span></a>
        <a href="#"><span class="icon-instagram"></span></a>
        <a href="#"><span class="icon-linkedin2"></span></a>
      </div>
    </div>
    <div class="footer__light__info pt-4 text-center md:hidden">
      <!-- <p>{{ "FOOTER.COPYRIGHT" | transloco }}</p> -->
    </div>
  </div>
</div>
