<div class="our-team mt-16 lg:mt-36">
  <div class="our-team__header text-center">
    <h2 class="our-team__header__title font-semibold">
      {{ "ABOUT_US.OUR_TEAM" | transloco }}
    </h2>
    <p class="our-team__header__description">
      {{ "ABOUT_US.OUR_TEAM_DESC" | transloco }}
    </p>
  </div>
  <div class="our-team__cards">
    @for(item of [1,2,3,4,5,6,7,8]; track item){
    <div class="our-team__cards_card mt-12">
      <app-person-card></app-person-card>
    </div>
    }
  </div>
</div>
