<div>
  <p-carousel
    [value]="peopleSayCards"
    [numVisible]="1"
    [numScroll]="1"
    orientation="vertical"
    verticalViewPortHeight="330px"
    contentClass="flex items-center"
  >
    <ng-template let-person #item>
      <div class="person-card">
        <div class="person-card__img-container">
          <img [src]="person.image" alt="" />
        </div>
        <div class="person-card__info">
          <p class="person-card__info__comment">
            {{ person.description }}
          </p>
          <p class="person-card__info__name">{{ person.name }}</p>
          <p class="person-card__info__role">{{ person.job }}</p>
        </div>
        <div class="person-card__signature">
          <p class="person-card__signature__name text-sm text-gray-500">
            <!-- {{ person.code }} -->
          </p>
          <!-- <p class="person-card__signature__title text-sm">CEO of Red Button</p> -->
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>
