<div class="properties">
  <div class="properties__filter mb-10 mt-10 flex items-center justify-between">
    <div class="properties__filter__items flex gap-8 flex-wrap">
      @for(item of filterItems; track item.id){
      <div
        class="properties__filter__items__item flex items-center gap-2 border border-blue-100 py-2 px-4 rounded-xl"
        [ngClass]="{ 'active-item': item.isActive }"
        (click)="onItemClick(item.id)"
      >
        <span class="{{ item.icon }}"></span>
        <p class="font-semibold">{{ item.text | transloco }}</p>
      </div>
      }
    </div>
    <button class="properties__filter__clear-filter" (click)="onClearFilter()">
      {{ "PROPERTIES.CLEAR_FILTER" | transloco }}
    </button>
  </div>
  <div
    class="properties__cards grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6"
  >
    @for (card of propertiesCards; track card.title){
    <app-properties-card
      [card]="card"
      [isClassic]="true"
      (click)="onCardClick(card)"
    ></app-properties-card
    >}
  </div>
  <div class="available-properties__cards__pagination mt-6 mb-16">
    <div class="card flex justify-center mt-8">
      <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="120"
      />
    </div>
  </div>
</div>
