<div id="similar-slider">
  <h2 class="slider-title">
    {{ "PROPERTIES.SIMILAR_YOU_MAY_LIKE" | transloco }}
  </h2>

  <p-carousel
    [value]="propertiesCards"
    [numVisible]="3"
    [numScroll]="3"
    [circular]="false"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-product #item>
      <app-properties-card
        [card]="product"
        [isClassic]="true"
        (click)="onCardClick(product)"
      ></app-properties-card>
    </ng-template>
  </p-carousel>
</div>
