@use "variables" as *;

.our-story {
  display: grid;
  grid-template-columns: 75% 25%;
  @media (max-width: 991px) {
    display: block;
  }
  &__info {
    &__title {
      color: $dark-text-color;
      font-size: 40px;
    }
    &__description {
      color: $dark-text-color;
    }
    &__statistics {
      display: grid;
      grid-template-columns: 70.5% 29.5%;
      margin-top: 2rem;
      &__blocks {
        margin-inline-end: 3rem;
        ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          li {
            padding: 2.6rem 3rem;
            @media (max-width: 600px) {
              padding: 1.5rem;
            }
            .number {
              color: $blue_color;
              font-weight: 700;
              font-size: 40px;
            }
            .label {
              font-size: 20px;
              font-weight: 400;
              color: $gray_color3;
            }
            &:nth-of-type(1) {
              border-top: 1px solid $border_color;
              border-bottom: 1px solid $border_color;
              border-inline-end: 1px solid $border_color;
            }
            &:nth-of-type(2) {
              border-top: 1px solid $border_color;
              border-bottom: 1px solid $border_color;
            }
            &:nth-of-type(3) {
              border-inline-end: 1px solid $border_color;
            }
          }
        }
      }
      &__img-container {
        width: 100%;
        height: 350px;
        @media (max-width: 700px) {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
  &__properties {
    &__img-container {
      width: 100%;
      height: 350px;
      @media (max-width: 991px) {
        display: none;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__browse-btn {
      background-color: $primary_color;
      box-shadow: 0px 10px 20px rgba(37, 99, 235, 0.2);
      margin: 2rem auto;
      max-width: max-content;
      min-width: max-content;
      &:hover {
        background: darken($primary_color, 5%);
      }
    }
  }
}
