<div class="our-story mt-8">
  <div class="our-story__info">
    <h2 class="our-story__info__title font-semibold">
      {{ "ABOUT_US.OUR_STORY_TITLE" | transloco }}
    </h2>
    <p class="our-story__info__description text-xl">
      {{ "ABOUT_US.OUR_STORY_DESC" | transloco }}
    </p>
    <div class="our-story__info__statistics">
      <div class="our-story__info__statistics__blocks">
        <ul>
          <li>
            <h3 class="number">2100+</h3>
            <p class="label">{{ "ABOUT_US.TOTAL_PROJECTS" | transloco }}</p>
          </li>
          <li>
            <h3 class="number">21+</h3>
            <p class="label">{{ "ABOUT_US.YEARS_OF_EXP" | transloco }}</p>
          </li>
          <li>
            <h3 class="number">2000+</h3>
            <p class="label">{{ "ABOUT_US.HAPPY_CUSTOMER" | transloco }}</p>
          </li>
          <li>
            <h3 class="number">50+</h3>
            <p class="label">{{ "ABOUT_US.AWARDS" | transloco }}</p>
          </li>
        </ul>
      </div>
      <div
        class="our-story__info__statistics__img-container rounded-lg overflow-hidden"
      >
        <img src="assets/images/properties2.svg" alt="" />
      </div>
    </div>
  </div>
  <div class="our-story__properties text-center md:ms-10">
    <div
      class="our-story__properties__img-container rounded-lg overflow-hidden"
    >
      <img src="assets/images/properties1.svg" alt="" />
    </div>
    <button
      type="button"
      class="our-story__properties__browse-btn d-block w-full text-white font-semibold rounded-full text-md px-10 py-2 text-center"
    >
      <span class="see-all-txt">
        {{ "ABOUT_US.BROWSE_PROPERTIES" | transloco }}
      </span>
    </button>
  </div>
</div>
