<div class="why-choose-us mt-16 lg:mt-36">
  <div class="why-choose-us__img-container">
    <img src="assets/images/why-choose-us.svg" alt="Why Choose Us" />
  </div>
  <div class="why-choose-us__content">
    <h2 class="why-choose-us__content__title font-bold">
      {{ "WHY_CHOOSE_US.TITLE" | transloco }}
    </h2>
    <p class="why-choose-us__content__description mt-4">
      {{ "WHY_CHOOSE_US.DESCRIPTION" | transloco }}
    </p>
    <ul class="why-choose-us__content__features-list mt-8">
      @for (feature of featuresList; track feature){
      <li
        class="why-choose-us__content__features-list__feature-item flex items-center gap-1 mb-5"
      >
        <img src="assets/images/check-mark.svg" alt="" />
        <span class="feature-text font-semibold">{{
          feature | transloco
        }}</span>
      </li>
      }
    </ul>
  </div>
</div>
